<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style_dashboard.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Pay-me</title>
</head>

<body>
    <div class="dashboard">
        <aside class="sidebar">
            <h1>Pay-me</h1>
            <div class="btns-menu">
                <button class="active">
                    <i class="material-icons">home</i>
                    <span>Dashboard</span>
                </button>
                <button>
                    <i class="material-icons">bar_chart</i>
                    <span>Movimientos</span>
                </button>
                <button>
                    <i class="material-icons">sync_alt</i>
                    <span>Transferencias</span>
                </button>
                <button>
                    <i class="material-icons">add_card</i>
                    <span>Agregar Tarjetas</span>
                </button>
                <button>
                    <i class="material-icons">attach_money</i>
                    <span>Realizar Pagos</span>
                </button>
            </div>
        </aside>
        <div class="container">
            <h1>Hola Usuario</h1>
            <!-- Contenido del saldo actual -->
            <div class="current-balance">
                <h2>Saldo Actual</h2>
                <button class="add-button">
                    <i class="material-icons">add</i>
                </button>
                <p>$0.00</p>
            </div>

        </div>
    </div>
</body>

</html>
