body,
html {
    font-family: "Poppins", sans-serif;
    background: #E8EBF2;
    display: flex;
    margin: 0;
    padding: 0;
}

.dashboard {
    display: flex;
    height: 100%;
}

.container {
    margin-left: 250px;
    padding: 30px;
    width: calc(100% - 250px);
    transition: all 0.3s ease;
}

h4 {
    margin-top: 10px;
    color: #0000005d;
}

.card-container {
    display: flex;
    gap: 60px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    padding: 15px;
    min-width: 350px;
    max-width: 400px;
    flex-grow: 1;
    position: relative;
}

.card h2 {
    margin: 0;
}

.card p {
    font-size: 50px;
    font-weight: bold;
    color: #7700C6;
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #560090;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #7700C6;
}

@media (max-width: 768px) {
    .container {
        margin-left: 70px;
        width: calc(100% - 70px);
    }

    .card-container {
        gap: 30px;
    }

    .card {
        min-width: 300px;
    }
}

@media (max-width: 480px) {
    .container {
        margin-left: 0;
        width: 100%;
    }

    .card-container {
        flex-direction: column;
        gap: 20px;
    }

    .card {
        min-width: 100%;
        max-width: 100%;
    }

    .card p {
        font-size: 30px;
    }
}